@import 'fonts';
@import 'variables';

.bg-brown{
    background-color:#D5C7BC;
}
.brown{
    color:#D5C7BC;
}
.bg-peach{
    background-color:#985277;
}
.peach{
    color:#985277;
}
.bg-bb{
    color:#1F2C4D;
}



body{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color:$brown;
}

